<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
  <div class="sisalto">
      <p>{{title}}</p>
      <a href="{{verification-link-placeholder}}">{{verification-link-placeholder}}</a>
      <p>
        Your application to {{application-option-name}} have been processed
        and you are required to supplement your application. Based on the
        study programme you are applying to and the verified
        qualification/qualifications you have stated as your educational
        background, you are required to pay the application fee. Your
        application will not be processed before the payment has been
        completed. Use the link in this email to pay the application fee. The
        application fee must be paid or verified by {{due-date}}. If the
        payment has not been completed by the deadline, your application will
        not be processed.
      </p>
      <p>
        The application fee is collected by the Finnish National Board of
        Education. The application fee is based on the Universities Act and
        the Polytechnics Act.
      </p>
      <p>
        If the link above does not work, you can copy and paste the address
        into a new browser window. If you’re using a shared or public PC,
        remember to clear the browser history afterwards.
      </p>
      <p>
        Opetushallitus<br/>
        applicationfee@studyinfo.fi
      </p>
      <p>
        This is an automatically generated email, please do not reply.
      </p>
  </div>
</body>
</html>
