<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
  <div class="sisalto">
      <p>{{title}}</p>
      <a href="{{verification-link-placeholder}}">{{verification-link-placeholder}}</a>
      <p>
        Hakemuksesi hakukohteeseen {{application-option-name}} käsittelyn
        perusteella sinun täytyy täydentää hakemustasi. Liitteistä
        todennettujen pohjakoulutusten perusteella sinun pitää maksaa
        hakemuksen käsittelymaksu. Maksun suorittaminen on hakemuksen
        käsittelyn jatkamisen edellytys. Käytä yllä olevaa linkkiä maksaaksesi
        hakemuksen käsittelymaksun. Hakemuksen käsittelymaksu täytyy maksaa
        viimeistään {{due-date}}. Jos maksua ei ole suoritettu määräaikaan
        mennessä, ei hakemustasi käsitellä.
      </p>
      <p>
        Hakemuksen käsittelymaksu suoritetaan Opetushallitukselle
        yliopistolain (558/2009) 8 §:n ja ammattikorkeakoululain (932/2014) 12
        §:n 2 momentin mukaisesti.
      </p>
      <p>
        Jos linkki ei toimi, voit kopioida sen ja liittää sen selaimen
        osoitekenttään uudessa selainikkunassa. Jos käytät yleisessä käytössä
        olevaa tietokonetta, muista tyhjentää sivuhistoria poistuessasi
        koneelta.
      </p>
      <p>
        Opetushallitus<br/>
        applicationfee@studyinfo.fi
      </p>
      <p>
        Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
      </p>
  </div>
</body>
</html>
