<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
  <div class="sisalto">
      <p>{{title}}</p>
      <a href="{{verification-link-placeholder}}">{{verification-link-placeholder}}</a>
      <p>
        På basis av din grundutbildning måste du betala handläggningsavgiften
        för ansökan. Ansökan behandlas inte före betalningen har utförts.
        Använd länken ovan för att betala handläggningsavgiften för ansökan.
        Handläggningsavgiften för ansökan måste betalas senast {{due-date}}.
        Om betalningen inte har utförts inom utsatt tid, kommer din ansökan
        inte att behandlas.
      </p>
      <p>
        Behandlingsavgiften betalas till Utbildningsstyrelsen på basis av
        universitetslagen (558/2009) § 8, moment 2 och yrkeshögskolelagen
        (932/2014) § 12, moment 2.
      </p>
      <p>
        Om länken inte fungerar kan du kopiera och klistra in den i
        webbläsarens adressfält i ett nytt webbläsarfönster. Om du använder en
        allmän dator, kom ihåg att tömma sidohistorian då du går bort från
        datorn.
      </p>
      <p>
        Opetushallitus<br/>
        applicationfee@studyinfo.fi
      </p>
      <p>
        Svara inte på detta meddelande – det har skickats automatiskt.
      </p>
  </div>
</body>
</html>
